# Copy this file to terraform.tfvars and customize values

# Naming convention variables
company     = "bla"
project     = "odyssey"

# Infrastructure variables
region      = "us-east-1"
environment = "dev"
vpc_cidr    = "10.0.0.0/16"